.portfolio-div {
  margin-top: 6em;
  height: 250vh;
}

/* Portfolio Title */
.portfolio-title-div {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  height: 4em;
}

.portfolio-title-div a {
  line-height: 4em;
}

.portfolio-title-underline {
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 2em;
}

.portfolio-title-underline {
  color: #fff;
  text-decoration: none;
}
.portfolio-title-underline::after {
  content: "";
  position: absolute;
}
.portfolio-title-div .portfolio-title-underline::after {
  top: 65%;
  height: 2px;
  width: 90%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Portfolio Card */
.portfolio-card {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.75fr 1.75fr 1fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
  height: 25%;
  margin: auto;
  background-color: #242424;
  color: white;
  margin-top: 5em;
  box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.562);
  transition: 0.3s;
}

.portfolio-card:hover {
  box-shadow: 0 6px 12px 0 rgba(59, 59, 59, 0.562);
}

.portfolio-card-image {
  grid-area: 1 / 1 / 5 / 2;
}

.portfolio-card-image img {
  width: 100%;
  height: 100%;
}

.portfolio-card-title {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  margin-top: 1.25em;
  font-size: 1.2em;
}

.portfolio-card-description {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.portfolio-card-description h3{
  margin-bottom: 0.15em;
}

.portfolio-card-technologies {
  grid-area: 3 / 2 / 4 / 3;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.portfolio-card-technologies h3{
  margin-bottom: 0.15em;
}

.portfolio-card-buttons {
  grid-area: 4 / 2 / 5 / 3;
}

.portfolio-card-button-nav,
.portfolio-card-button-demo {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  bottom: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.portfolio-card button:hover,
.portfolio-card input:hover {
  opacity: 0.7;
}

.portfolio-card-button-nav {
  background-color: #24292e;
}

.portfolio-card-button-demo {
  background-color: #ff0000;
}

@media (max-width: 768px) {
  .portfolio-div {
    margin-top: 6em;
    height: 300vh;
  }

  .portfolio-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, 0.25fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .portfolio-card-image {
    grid-area: 1 / 1 / 2 / 2;
  }
  .portfolio-card-title {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .portfolio-card-description {
    grid-area: 3 / 1 / 4 / 2;
  }
  .portfolio-card-technologies {
    grid-area: 4 / 1 / 5 / 2;
  }
  .portfolio-card-buttons {
    grid-area: 5 / 1 / 6 / 2;
  }
}
